/*Regole generali*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #c8d6f3;
}
header {
    margin: 0;
}
/*Logo/testata pagina*/
#logo {
    width: 55px;
    height: 55px;
    vertical-align: middle;
    margin-left: 15px;
    margin-bottom: 10px;
    }

#intestazione {
    background-color: white;
    margin-bottom: 30px;

}
    

h1 {
    display: inline-block;
    font-size: 50px;
    padding-top: 5px;
}
/*Parte centrale bottoni*/
main {
    max-width: 750px;
    margin: 0 auto;

}
#riquadro-bottoni {
    border: 5px solid white;
    background-color: white;
    border-radius: 5px 5px 0px 0px;
    padding: 8px;
}
.task-button {
    background-color: #439FE2;
    border: 1px solid #439FE2;
    padding: 5px;
    border-radius: 6px;
    color: white;
}
.add-button {
    background-color: white;
    border: 1px solid #777878;
    padding: 5px;
    border-radius: 6px;
    color: #777878;
    
}

/*Parte centrale liste*/
#riquadro-liste {
    margin-top: 5px;
    border: 5px solid white;
    background-color: white;
    border-radius: 0px 0px 5px 5px;
    padding: 8px;
}

.spazio-lista {
    margin-bottom: 30px;
}

.check {
    border: 1px solid green;
    color: green;
    border-radius: 50%;
    padding: 1px;
    
}

.cross {
    border: 1px solid red;
    color: red;
    border-radius: 50%;
    padding: 1px;
}

.editorial {
    background-color: #439FE2;
    border-radius: 10px;
    padding: 4px;
    color: white;
    font-size: 13px;
}

.q1 {
    background-color: #9A72E8;
    border-radius: 10px;
    padding: 4px;
    color: white;
    font-size: 13px;
    
}

.racruiting {
    background-color: #60C1AC;
    border-radius: 10px;
    padding: 4px;
    color: white;
    font-size: 13px;
    
}

.mobile {
    background-color: #FC9D2B ;
    border-radius: 10px;
    padding: 4px;
    color: white;
    font-size: 13px;
    
}

.webside {
    background-color: #D764A2 ;
    border-radius: 10px;
    padding: 4px;
    color: white;
    font-size: 13px;
    
}

.sales {
    background-color: #B1CA27 ;
    border-radius: 10px;
    padding: 4px;
    color: white;
    font-size: 13px;

}
.spazio {
    display: inline-block;
    padding-bottom: 12px;
    font-size: 15px;
}
